<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
    default-init-method="init"
       default-destroy-method="destroy">
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
   		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
    </bean>
    
    <bean id="usersDao" class="com.njci.student.dao.impl.UsersDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="taskInfoDao" class="com.njci.student.dao.impl.TaskInfoDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="taskStatusDao" class="com.njci.student.dao.impl.TaskStatusDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
     <!-- 
    <bean id="typeDao" class="com.njci.student.dao.impl.TypeDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    
    <bean id="repertoryDao" class="com.njci.student.dao.impl.RepertoryDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    -->
    <!-- 
    <bean id="baseDao" class="com.njci.student.dao.impl.BaseDaoImpl">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
     -->
	
</beans>